<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Product</title>
    <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>

<body>

<div class="container">
    <h1>PlaceCRUD</h1>
    <main id="app">
        <router-view></router-view>
    </main>
</div>

<template id="place-list">
    <div class="container">
        <div class="actions">
            <a class="btn btn-default">
                <router-link :to="{path: '/add-place'}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add place
                </router-link>
            </a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Information</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="place in filteredPlaces">
                <td height="70">
                    <img class="image-place" v-if="place.imageUrl" :src="place.imageUrl" alt="image-place">
                    <img class="image-place" v-else src="https://cdn.onlinewebfonts.com/svg/img_303638.png" alt="">
                </td>
                <td height="70">
                    <a>
                        <router-link :to="{name:'place',params:{place_id: place.id}}">{{place.name}}
                        </router-link>
                    </a>
                </td>
                <td height="70">{{place.information}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<template id="add-place">
    <div class="col-md-6">
        <h2>Add new place</h2>
        <form @submit="createPlace" class="form-add-place">
            <div class="form-group">
                <label for="add-image">Image</label>
                <input type="file" id="add-image" @change="changeImage" required />
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="add-url" v-model="place.imageUrl" required />
                <img v-if="place.imageUrl" :src="place.imageUrl" alt="image-place">
            </div>
            <div class="form-group">
                <label for="add-name">Name</label>
                <input class="form-control" id="add-name" v-model="place.name" required />
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="add-information">Information</label>
                    <textarea class="form-control" id="add-information" rows="10"
                              v-model="place.information"></textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" :disabled="place.imageUrl == ''">Create</button>
                <a class="btn btn-default">
                    <router-link to="/">Cancel</router-link>
                </a>
            </div>
        </form>
    </div>
</template>

<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="./script.js"></script>
</body>

</html>